@layer components {
  .page {
    @apply h-dvh px-2 py-4 lg:pb-2;
  }

  .main-title {
    @apply ml-10 font-bold text-2xl text-chetwode-blue-950 dark:text-chetwode-blue-50;
  }

  .subtitle {
    @apply font-bold text-xl text-chetwode-blue-950 dark:text-chetwode-blue-50;
  }

  .subsubtitle {
    @apply font-bold text-lg text-chetwode-blue-950 dark:text-chetwode-blue-50;
  }

  .subsubsubtitle {
    @apply font-bold text-base text-chetwode-blue-950 dark:text-chetwode-blue-50;
  }

  .base-card {
    @apply p-2 border-b-2 rounded-lg bg-star-dust-50 border-transparent shadow-md duration-300 ease-in-out hover:shadow-lg hover:border-chetwode-blue-700 dark:bg-chetwode-blue-900 dark:hover:border-chetwode-blue-600;
  }

  .stat-result {
    @apply absolute top-1/2 left-1/2 text-center font-bold text-2xl text-chetwode-blue-900 -translate-1/2 dark:text-chetwode-blue-100;
  }

  .scrollbar-style {
    @apply scrollbar-thin scrollbar-thumb-chetwode-blue-600 scrollbar-track-transparent;
  }

  .base-btn {
    @apply p-1 rounded-lg text-xl bg-chetwode-blue-600 text-chetwode-blue-50 duration-300 ease-in-out hover:bg-chetwode-blue-800 active:bg-chetwode-blue-900;
  }

  .modal-btn-color {
    @apply bg-chetwode-blue-200 text-chetwode-blue-950 border-chetwode-blue-600 hover:bg-chetwode-blue-300 active:bg-chetwode-blue-500 active:text-chetwode-blue-100 dark:bg-chetwode-blue-800 dark:text-chetwode-blue-200 dark:hover:bg-chetwode-blue-700;
  }
  .modal-btn-create {
    @apply bg-green-200 text-green-950 border-green-600 hover:bg-green-300 active:bg-green-500 active:text-green-100 dark:bg-green-800 dark:text-green-200 dark:hover:bg-green-700;
  }
  .modal-btn-update {
    @apply bg-blue-200 text-blue-950 border-blue-600 hover:bg-blue-300 active:bg-blue-500 active:text-blue-100 dark:bg-blue-800 dark:text-blue-200 dark:hover:bg-blue-700;
  }
  .modal-btn-delete {
    @apply bg-red-200 text-red-950 border-red-600 hover:bg-red-300 active:bg-red-500 active:text-red-100 dark:bg-red-800 dark:text-red-200 dark:hover:bg-red-700;
  }
}
