.dashboard-layout {
  grid-template-areas:
    "overview"
    "vault"
    "goals"
    "budget"
    "moves"
    "stats";
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 0.5rem;
}

#dashboard-overview {
  grid-area: overview;
}
#dashboard-budget {
  grid-area: budget;
}
#dashboard-vault {
  grid-area: vault;
}
#dashboard-transaction {
  grid-area: moves;
}
#dashboard-goals {
  grid-area: goals;
}
#dashboard-stats {
  grid-area: stats;
}

@media (min-width: 35rem) {
  .dashboard-layout {
    grid-template-areas:
      "overview overview"
      "vault    goals   "
      "moves    stats   "
      "moves    budget  ";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 0.25fr 0.75fr 1fr;
  }
}

@media (min-width: 64rem) {
  .dashboard-layout {
    grid-template-areas:
      "overview overview overview"
      "vault    vault    goals   "
      "moves    moves    budget  "
      "stats    stats    stats   ";
    grid-template-columns: repeat(3, 0.35fr);
    grid-template-rows: auto auto 0.75fr 0.25fr;
  }
}

@media (min-width: 90rem) {
  .dashboard-layout {
    grid-template-areas:
      "overview overview overview overview"
      "vault    vault    goals    budget  "
      "stats    moves    moves    budget  ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 0.25fr minmax(0, min(75vh, 600px));
    gap: 1rem;
  }
}
