.transaction-view-page-layout {
  grid-template-areas:
    "view-transaction"
    "view-chart";
  grid-template-columns: 1fr;
}

.transaction-view-page-layout--txn {
  grid-template-rows: 100dvh 0px;
}
.transaction-view-page-layout--chart {
  grid-template-rows: 0px 100dvh;
}

.transaction-page {
  grid-template-areas:
    "overview"
    "action  "
    "filter  "
    "moves   ";
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.25fr 1fr;
  gap: 0.5rem;
}

#transaction-view-page-txn {
  grid-area: view-transaction;
}
#transaction-view-page-chart {
  grid-area: view-chart;
}

#transaction-moves {
  grid-area: moves;
}
#transaction-action {
  grid-area: action;
}
#transaction-overview {
  grid-area: overview;
}
#transaction-filter {
  grid-area: filter;
}

@media (min-width: 45rem) {
  .transaction-page {
    grid-template-areas:
      "overview overview"
      "filter   action  "
      "moves    moves   ";
    grid-template-columns: 0.6fr minmax(0.4fr, 1fr);
    grid-template-rows: 0.25fr 0.25fr 1fr;
  }
}

@media (min-width: 90rem) {
  .transaction-page {
    grid-template-areas:
      "overview overview overview"
      "filter   filter   action  "
      "moves    moves    action  ";
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    grid-template-rows: auto 0.25fr 1fr;
    gap: 1rem;
  }
}
