@import "tailwindcss";
/* Base Tailwind */
@import "./styles/variables.css";
@import "./styles/base.css";
@import "./styles/components.css";

/* Layout */
@import "./styles/layout/dashboard.css";
@import "./styles/layout/transaction.css";
@import "./styles/layout/budget.css";
@import "./styles/layout/vault.css";

/* Animation */
@import "./styles/animation.css";

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-thinner::-webkit-scrollbar {
  width: 6px;
}

@plugin "tailwind-scrollbar" {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}
