@import "tailwindcss";

@theme {
  --color-chetwode-blue-50: #f5f5fd;
  --color-chetwode-blue-100: #ededfa;
  --color-chetwode-blue-200: #ddddf7;
  --color-chetwode-blue-300: #c4c1f1;
  --color-chetwode-blue-400: #a69ee7;
  --color-chetwode-blue-500: #9485e0;
  --color-chetwode-blue-600: #7358cf;
  --color-chetwode-blue-700: #6446bb;
  --color-chetwode-blue-800: #533a9d;
  --color-chetwode-blue-900: #453181;
  --color-chetwode-blue-950: #2a1e57;

  --color-star-dust-50: #f6f6f6;
  --color-star-dust-100: #e7e7e7;
  --color-star-dust-200: #d1d1d1;
  --color-star-dust-300: #b0b0b0;
  --color-star-dust-400: #999999;
  --color-star-dust-500: #6d6d6d;
  --color-star-dust-600: #5d5d5d;
  --color-star-dust-700: #4f4f4f;
  --color-star-dust-800: #454545;
  --color-star-dust-900: #3d3d3d;
  --color-star-dust-950: #262626;

  --breakpoint-xs: 26rem; /* 416px */
  --breakpoint-sm: 35rem; /* 560px */
  --breakpoint-md: 45rem; /* 720px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 90rem; /* 1440px */
}

@layer base {
  button {
    cursor: pointer;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
  }
}

@layer components {
  .page {
    @apply min-h-dvh p-2 pt-4 pb-4 lg:pb-2 bg-chetwode-blue-100;
  }

  .main-title {
    @apply ml-10 font-bold text-2xl text-chetwode-blue-950;
  }

  .sub-title {
    @apply font-bold text-xl text-chetwode-blue-950;
  }

  .subsubtitle {
    @apply font-bold text-lg text-chetwode-blue-950;
  }

  .dashboard-base-card {
    @apply p-2 border-b-2 rounded-lg bg-star-dust-50 border-transparent shadow-md duration-300 ease-in-out hover:shadow-lg hover:border-chetwode-blue-700;
  }
}

.dashboard-layout {
  grid-template-areas:
    "overview"
    "vault"
    "goals"
    "budget"
    "moves";
  grid-template-columns: 1fr;
  grid-template-rows: auto minmax(0, 1fr);
  gap: 0.5rem;
}

#dashboard-overview {
  grid-area: overview;
}
#dashboard-budget {
  grid-area: budget;
}
#dashboard-vault {
  grid-area: vault;
}
#dashboard-transaction {
  grid-area: moves;
}
#dashboard-goals {
  grid-area: goals;
}

@media (min-width: 35rem) {
  .dashboard-layout {
    grid-template-areas:
      "overview overview"
      "vault    goals   "
      "moves    budget  ";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 0.5fr 1fr;
    gap: 0.5rem;
  }
}

@media (min-width: 64rem) {
  .dashboard-layout {
    grid-template-areas:
      "overview overview overview"
      "vault    vault    goals  "
      "moves    moves    budget  ";
    grid-template-columns: repeat(3, 0.35fr);
    grid-template-rows: auto 0.5fr 1fr;
    gap: 0.5rem;
  }
}

@media (min-width: 90rem) {
  .dashboard-layout {
    grid-template-areas:
      "overview overview overview overview"
      "vault    vault    goals    budget  "
      ".        moves    moves    budget  ";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 0.25fr minmax(0, 0.75fr);
    gap: 1rem;
  }
}

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}
